

*{
    margin:0:
    padding: 0;
    box-sizing: border-box;
}
    
Img{
    max-width: 100%;
    }

a {
 text-decoration: none; 
 color: inherit;
}

ul,
ol,
menu,
li{
list-style-type: none;
}


button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: transparent;
}


.body-flex{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}


/*********************/
/*********************/
/*********************/
/****** UTILITY CLASS *********/
/*********************/
/*********************/
/*********************/

.row{
    display: flex;
}

:root{
   --main-color: white;
   --spoty-nav: 230px;
}

.tx-wh{
    color: white;
}
.tx-2{
    color: #a88f8f;
}

.tx-10{
    font-size: 10px;
}

.col-50{
    flex-basis: calc(100% / 2);
}
.col-100{
    flex-basis: 100%;
}

 .icon_ply_lat_sx {
    display: flex;
    gap:10px 
}


/*********************/
/****** CONTENT *********/
/*********************/

.spoty-content{
    flex-grow: 1;
    overflow: hidden;
    background-color: red;
    display: flex;
}


/* *********************************
************************************
************BARRA LATERALE*********
************************************
************************************ */

.spoty-nav{
    background-color: green;
    flex-basis: var(--spoty-nav);
    flex-shrink: 0;
    overflow: hidden;
    padding: 20px;
}

/* .spoty_nav_row{
    display: flex;
    flex-direction: column;
} */

/* .spoty_nav_col{
    height: 100vh;
    background-color: yellowgreen;
    align-self: flex-start;

} */



/*********************/
/****** MAIN *********/
/*********************/

.spoty-main{ 
    background-color: yellow;
    flex-grow: 1;
    padding:  20px;
}



/*****************************/
/******PLAYER - ASIDE*********/
/*****************************/

.player{
    flex-shrink: 0;
    background-color: #0E0E0E;

}


.row_player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* parte sinistra ********/


.col_player_lat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 237px;
    gap: 10px;
    padding: 11px;
}

.div-col{
    display: flex;
    justify-content: space-between;
}

.thumb_play{
    max-width: 56px ;
}

.dinamic_text_play{
    max-width: 90px ;
    font-size: 10px;
    line-height: 3px;
}

.icon_ply_lat_sx{
    color: white;
}

/* *********************************
************************************
************INIZIO PARTE centrale **
************************************
************************************ */

.col_player_centr{

    flex-basis: 577px;
}



.flex_player_centr{
    max-width: 544px;
    display: flex;
    justify-content: center;
  
    margin-bottom: 10px;
}



.icon_player_center{
    margin: 0 10px;
    font-size: 20px;
    max-width: 215px;
    flex-shrink: 0;
}

.icon_player_play{
font-size: 30px;
padding: 0 10px;
}



/* *********************************
************************************
************PROVVISIORIIIIOOOOOO **
************************************
************************************ */



.progress_player_centr{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.progress_player_1{
    border-radius: 20px;
    background-color: #5A5A5A;
    padding: 2px;
    width: 70%;
    position: relative;
    
}
.up_progress_player{
    border-radius: 20px;
    background-color: white;
    padding: 9px;
    width: 86px;
    position: absolute;
    left: 0px;
    top: 0px
   
   
   
}


/* *********************************
************************************
************FINE PARTE centrale **
************************************
************************************ */




.btn_lat_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.btn_lat_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}



.progress_player_2{
    border-radius: 10px;
    background-color: #5A5A5A;
    padding: 2px;
    width: 80px;
    position: relative;
}
.up_progress_player_2{
    border-radius: 10px;
    background-color: white;
    padding: 2px;
    width: 20px;
    position: absolute;
    left: 0px;
    top: 0px
}