

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
Img{
    max-width: 100%;
    }

a {
 text-decoration: none; 
 color: inherit;
}

ul,
ol,
menu,
li{
list-style-type: none;
padding: 0;
}


button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: transparent;
}


.body-flex{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

/*********************/
/*********************/
/*********************/
/****** UTILITY CLASS *********/
/*********************/
/*********************/
/*********************/

.row{
    display: flex;
}

:root{
   --main-color: white;
   --spoty-nav: 230px;
}

.tx-wh{
    color: white;
}
.tx-2{
    color: #a88f8f;
}

.tx-10{
    font-size: 10px;
}

.col-50{
    flex-basis: calc(100% / 2);
}
.col-100{
    flex-basis: 100%;
}

 .icon_ply_lat_sx {
    display: flex;
    gap:10px 
}


/*********************/
/****** CONTENT *********/
/*********************/

.spoty-content{
    flex-grow: 1;
    overflow: hidden;
    background-color: red;
    display: flex;
}


/* *********************************
************************************
************BARRA LATERALE*********
************************************
************************************ */

.spoty-nav{
    background-color: #000000;
    flex-basis: var(--spoty-nav);
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
}

.nav_content{
 display: flex;
 flex-direction: column;

}

.nav_items{
 padding-top: 20px;
 adding-button: 10px;
}

.logo, .img{
    min-width: 135px;
    margin-left: 17px;
}
.img_2{
    visibility: hidden;
    position: absolute;
}

.nav_menu{
    display: flex;
    align-items: center;
    /* gap: 7px; */
    padding: 5px 0;
}


.icon_nav_list{
    min-width: 35px;
    padding-left: 10px;
}

.title_nav_menu{
    color: white;
    padding-left: 10px;
}

.home{
    border-left: 3px solid #AEF72D;
}

.playlist_text{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 900;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
}

.add_playlist_nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon_add_playlist{
    background-color: #A3A3A3 ;
    /* padding: 10px; */
    width: 35px;
    height:35px;
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
}

.text_add_playlist{
    color: #a8a2a2;
}

.txt_li{
    color: #717171;
    padding: 5px 0px;
    padding-left: 10px;
 }

.install-app{
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    margin-top: auto;
}

 .icon-app{
    color: white;
    font-size: 20px;
} 

.user-nav{
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-bottom: 5px;
    gap: 10px
}

.user_svg{
    width: 30px;
    color: white;
    object-fit: cover;
    object-position:center;
    background-color: #808080;
    padding: 4px 7px;
    border-radius: 999px;
}

/* *********************************
************************************
************RESPONSIVE*********
************************************
************************************ */


@media only screen and  (max-width: 551px){
  
    .spoty-nav{
        flex-basis: 50px;
    }
    .logo{
        visibility: hidden;
    }
    .img_2{
        visibility: visible;
        max-width: 30px;
        margin: 0 7px;
    }

    .icon_nav_list{
        border: 0px;
    }

   .title_nav_menu{
    visibility: hidden;
   }

   .main-playlist{
    visibility: hidden;
   }

   .install-app{
    border: 0px;
    padding-bottom: 0px;
    margin-left: 15px;
   }

   .icon-app{
    font-size: 30px;
} 

}


/*********************/
/****** MAIN *********/
/*********************/

.spoty-main{ 
    background-color: #141922;
    flex-grow: 1;
}

.header{
    display: flex;
    justify-content: end;
    align-items: center; 
    background-color: black;
    min-height: 70px; 
    padding: 20px;
}

.btn-upgrade{
   font-size: 15px;
   border: 2px solid white;
   border-radius: 50px;
   padding: 15px 25px;
}

.nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.nav_link{
    color: #7D7F84;
    font-size: 15px;
    padding: 0 10px;
}
.visited_link{
    display: block;
    color: yellow;
    font-size: 70px;
    text-align: center;
    margin-top: -40px;
}

.title-played{
    font-size: 33px;
    padding-bottom: 35px;
    padding-left: 10px;
}

.played-one{

}

.row-played-one{
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
    padding: 0 10px;
}

.items-played-one{
    flex-basis: 180px;
}


.title_song, .sub_title_song{
    color: white;
    padding: 5px 0;
    text-align: center;
}

.title_song{
  font-size: 15px;
}
.sub_title_song{
    font-size: 10px;
  }

.list-user-track{
    padding-top: 40px;
}

.title_list_user{
    font-size: 33px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.description_list_user{
    color: #7B7D82;
    padding-bottom: 25px;
    padding-left: 10px;
}

.tumb_popular{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}



/*****************************/
/******PLAYER - ASIDE*********/
/*****************************/


.player{
    flex-shrink: 0;
    background-color: #0E0E0E;

}


.row_player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* parte sinistra ********/


.col_player_lat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 237px;
    gap: 10px;
    padding: 11px;
}

.div-col{
    display: flex;
    justify-content: space-between;
}

.thumb_play{
    min-width: 56px ;
}

.dinamic_text_play{
    max-width: 90px ;
    font-size: 10px;
    line-height: 3px;
}

.icon_ply_lat_sx{
    color: white;
}


/*****************************/
/******PARTE RESPONSIVE********
*********PLAYER - ASIDE********/
/*****************************/

@media only screen and  (max-width: 878px){

    .col_player_lat{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 145px;
        gap: 10px;
        padding: 11px;
    }


    .thumb_play{
       min-width: 45px;
    }
}

@media only screen and  (max-width: 639px){

    .thumb_play{
       min-width: 39px;
    }


    .icon_ply_lat_sx{
        color: white;
        font-size: 13px;
        display: block;
    }
}


@media only screen and  (max-width: 551px){

    .thumb_play{
       max-width: 28px;
    }

    .dinamic_text_play{
        max-width: 90px ;
        font-size: 8px;
        line-height: 3px;
    }
    .col-50{
        font-size: 12px;
    }

    .icon_ply_lat_sx{
        color: white;
        font-size: 13px;
        display: block;
    }
}


/* *********************************
************************************
************INIZIO PARTE centrale **
************************************
************************************ */

.col_player_centr{
    flex-basis: 577px;
}



.flex_player_centr{
    max-width: 544px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.icon_player_center{
    margin: 0 10px;
    font-size: 20px;
    max-width: 215px;
    flex-shrink: 0;
}

.icon_player_play{
font-size: 30px;
padding: 0 10px;
}



.progress_player_centr{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    padding-bottom: 10px;
}

.progress_player_1{
  
    background-color: #5A5A5A;
    height: 5px;
    width: 60%;
    border-radius: 20px;
    position: relative;
    
}
.up_progress_player{
    border-radius: 20px;
    background-color: white;
    height: 5px;
    width: 30%;
    position: absolute;
    left: 0px;
    top: 0px
}

/*****************************/
/******PARTE RESPONSIVE********
*********PLAYER - ASIDE********/
/*****************************/


@media only screen and  (max-width: 878px){
   
  .icon_player_center{
        margin: 0 10px;
        font-size: 15px;
        max-width: 215px;
        flex-shrink: 0;
    }

    .flex_player_centr{
        margin-bottom: 6px;
        }

  .icon_player_play{
        font-size: 25px;
        padding: 0 10px;
        }

}

@media only screen and  (max-width: 639px){
    .icon_player_center{
        margin: 0 10px;
        font-size: 14px;
        max-width: 200px;
        flex-shrink: 0;
    }

    .flex_player_centr{
        margin-bottom: 0px;
        }

    .icon_player_play{
        font-size: 25px;
        padding: 0 10px;
        }
   
        .progress_player_1{
  
            height: 5px;
            width: 60%;
            
        }
   .up_progress_player{
             
            height: 5px;
            width: 30%;
        }

}
@media only screen and  (max-width: 551px){
    .icon_player_center{
        margin: 0 10px;
        font-size: 10px;
        max-width: 200px;
        flex-shrink: 0;
    }

    .flex_player_centr{
    margin-bottom: -2px;
    }

    .icon_player_play{
        font-size: 20px;
        padding: 0 5px;
        }
   
        .progress_player_1{
  
            height: 5px;
            width: 60%;
            
        }
   .up_progress_player{
             
            height: 5px;
            width: 30%;
        }

}


/* *********************************
************************************
************FINE PARTE centrale **
************************************
************************************ */


.col_player_lat_dx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 237px;
    gap: 10px;
    padding: 11px;
}

.btn_lat_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.btn_lat_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.progress_player_2{
    border-radius: 10px;
    background-color: #5A5A5A;
    padding: 2px;
    width: 80px;
    position: relative;
}
.up_progress_player_2{
    border-radius: 10px;
    background-color: white;
    padding: 2px;
    width: 20px;
    position: absolute;
    left: 0px;
    top: 0px
}




/*****************************/
/******PARTE RESPONSIVE********
*********PLAYER - ASIDE********/
/*****************************/


@media only screen and  (max-width: 878px){
   
    
 
  }

  @media only screen and  (max-width: 639px){
    .col_player{
        gap:0px;
    }
    .icon_player_center{
        font-size: 13px ;
    }
    
    .btn_lat_2 {
        font-size: 13px ;
    }
    .progress_player_2{
        padding: 2px;
        width: 60px;
      
    }
    .up_progress_player_2{
        padding: 2px;
        width: 15px;
       
    }
    
}



@media only screen and  (max-width: 551px){
    
    .col_player_lat_dx{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 137px;
        padding: 11px 3px;
        gap: 0;
    }
    
    .btn_lat_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
    
    .col_player{
        gap:0px;
    }
    .icon_player_center{
        font-size: 10px;
    }

    .icon_player_center{
        margin-left: 0px;

    }
    
    .btn_lat_2 {
        font-size: 13px ;
    }
    .icon_player_center{
        margin-right: 4px;
    }
    .progress_player_2{
        padding: 2px;
        width: 60px;
      
    }
    .up_progress_player_2{
        padding: 2px;
        width: 10px;
       
    }
    
}












